{{#link-to 'index' id='logo-link'}}
  <div id="logo">
    nziff
    <br>
    PICKS
  </div>
{{/link-to}}

<div class="top-level">
 Regions
</div>

<div class="second-level">
  <div class="item">Auckland</div>
  <div class="item">Wellington</div>
</div>

<div class="top-level">
 Genres
</div>

<div class="second-level">
  <div class="item">Framing Reality</div>
  <div class="item">World</div>
</div>
