@import 'vars'
@import 'mixins/*'
@import 'semantic/*'
@import 'components/*'

.film-page
  background-color black
  height 100vh

#loading
  flexbox()
  align-items(center)
  justify-content(center)
  border-radius 99px
  background-color black
  width 100px
  height @width
  color white
  margin auto
  margin-top 15%
  font-family $heading-font
  font-size 16px
