/* Put your CSS here */
html, body {
  margin: 30px 0;
  /*background-color: black;*/
  /*color: white;*/
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
}

/* lists of films */
table#films {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 3px;
}

table#films .image {
  background: black no-repeat center center;
  background-size: cover;
  width: 117px;
  height: 160px;
  text-align: center;
  box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.2);
  border: 1px solid rgba(125,125,125,1);
  overflow: hidden;
  border-bottom: 5px solid green; /* TODO use classes to show 3 bands of ratings */
}

table#films .rank {
  color: white;
  font-size: 40px;
  font-weight: 300;
  padding: 57px 0;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0 0 8px black;
  background-color: rgba(0,0,0,0.2);
}

table#films .title a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

table#films .details {
  vertical-align: top;
  font-size: 12px;
  white-space: nowrap;
}

table#films .details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

table#films .quote {
  vertical-align: top;
}

table#films .publication {
  font-size: 12px;
  white-space: nowrap;
}
