@import url(https://fonts.googleapis.com/css?family=PT+Serif)
@import url(https://fonts.googleapis.com/css?family=Gafata)

body
  font-family 'PT Serif', serif
  font-size .9rem

h1, h2, h3, h4, h5, h6
  font-family 'Gafata', sans-serif

