#logo
  flexbox()
  align-items(center)
  justify-content(center)
  font-size 22px
  font-family 'Gafata', sans-serif
  font-weight 800
  margin-bottom 12px
  border 2px solid black
  border-radius 99px
  width 75px
  height @width
  margin 12px
#logo-link
  text-decoration none
  color black
