html, body, body > .ember-view
  min-height 100vh

body > .ember-view // When routeable components drop, give the route app component's id
  flexbox()

nav
  width 420px
  // background-color #347EE5
// main
